body{
    background-color: rgb(247, 239, 229);
}

#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 2px #333;
    color: white;
}

.reloj-contenedor{
    background-color: rgb(12, 119, 206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 35px;
    margin: 0px auto;
    margin-top: 15%;
}

#fecha {
    letter-spacing: 10px;
    font-size: 20px;
}

.animar{
    border:rgb(0, 0, 0) 2px solid;
}
