h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #a8dadc;
    color: #e63046;
}

div.contenedor{
    display: flex;
    background-color: #560bad;
    /* flex-direction: row;
    flex-wrap: wrap; */
    height: 200px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.contenedor > p {
    background-color: #4895ef;
    text-align: center;
    color: #f1faee;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
}