/*Google Fonts en CSS*/
@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&family=Sofia&family=Trocchi&display=swap');
/*Efectos Fonts en CSS con la version 1 de Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto&effect=shadow-multiple&display=swap');

h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px coral;
}

/*Manejo de Fuentes en CSS - Estilo de Fuentes en CSS - Tamaño de fuentes en CSS*/
.caja {
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}

.caja.serif{
    background-color: #5a189a;
}
.fuente-times{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: larger;
}
.fuente-georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.caja.sans-serif{
    background-color: #00b4d8;
}
.fuente-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.fuente-verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.caja.monospace{
    background-color: #f15bb5;
}
.fuente-courierNew{
    font-family: 'Courier New', Courier, monospace;
}

.caja.cursive{
    background-color: #ff8500;
}
.fuente-lucida{
    font-family: 'Lucida Handwriting', cursive;
}

/*Google Fonts en CSS*/
.caja.google-fonts{
    background-color: yellowgreen;
}
.fuente-sofia {
    font-family: Sofia, cursive;    
}
.fuente-roboto{
    font-family: 'Roboto', sans-serif;
}

/*Efectos Fonts en CSS con la version 1 de Google Fonts*/
.caja.google-fonts.efectos{
    background-color: darkblue;
}

/*Atributo fonts en CSS*/
.caja.fonts{
    background-color: tan;
}

/*(font-style font-variant font-weight *font-size/line-height *font-family) | * -> Elementos requeridos si o si.*/
.fuente-cambria{
    font: italic small-caps bold 20px Cambria;
}