body{
    color: cornsilk;
    background-color: dodgerblue;
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /*background: dodgerblue url("../img/fondo.png") no-repeat right top;*/
}

h1 {
    text-align: center;
    background-color: brown;
}