*{
    margin: 0;
    padding: 0;
}
/*Identificador CSS*/
#titulo_principal {
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2{
    color: #3f37c9;

}
p{
    color: #457d9d;
}
/*Clase de CSS*/
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align:  center;
    margin: 15px 200px;
    padding: 15px;
}

.titulo{
    color: #f72585;
}
