.titulo {
    color: coral;
    text-align: center;
}
.marco {
    width: 100%;
    height: 300px;
    border: 3px solid black;
}

.link{
    text-align: center;
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    
}
.link :hover{
    background-color: #457b9d;
    color: white;
}